@charset "UTF-8";
** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f8f5fa, #eaeef5); /* Gradient background */
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.form-image img {
    max-width: 320px;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-family: serif;
    font-variant: normal;
    color: #555;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #888;
    font-style:normal;
    font-size: 14px;
    font-family: serif;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: #aaa;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #6a11cb;
}


.submit-btn {
    width: 150px;
    padding: 12px;
    background: linear-gradient(90deg, #6a11cb, #386fa4);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 0 auto; 
    display: block;
}


.submit-btn:hover {
    background: linear-gradient(90deg, #2575fc, #23118b);
}